<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
   
    <servlet>
        <servlet-name>LoginControllers</servlet-name>
        <servlet-class>controllers.LoginControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterControllers</servlet-name>
        <servlet-class>controllers.RegisterControllers</servlet-class>
    </servlet>
   
    <servlet>
        <servlet-name>LogoutControllers</servlet-name>
        <servlet-class>controllers.LogoutControllers</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>KostControllers</servlet-name>
        <servlet-class>controllers.KostControllers</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>LoginControllers</servlet-name>
        <url-pattern>/LoginControllers</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>RegisterControllers</servlet-name>
        <url-pattern>/RegisterControllers</url-pattern>
    </servlet-mapping>
    
  
    <servlet-mapping>
        <servlet-name>LogoutControllers</servlet-name>
        <url-pattern>/LogoutControllers</url-pattern>
    </servlet-mapping>
    
    
    <servlet-mapping>
        <servlet-name>KostControllers</servlet-name>
        <url-pattern>/kost</url-pattern>
    </servlet-mapping>


    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
  
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
